.container{
    width:95%;
    margin-top:10px;
}

.ui-autocomplete {
    @extend .z-depth-1;
    background-color: #fff;
    position: absolute;
}

.ui-autocomplete .ui-menu-item{
    @extend .col, .s3, .l4;
    font-size: 1rem;
    color: #26a69a;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
}
.ui-state-focus{
    background: #DAE3D0;
}

.ui-helper-hidden-accessible {
    display: none;
    visibility: hidden;
}

