<!DOCTYPE html>
<html>
<head>
    <title>Find Movie Locations</title>

    {% load staticfiles %}
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sfmovies.css' %}"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="input-field col s4">
                    <i class="material-icons prefix">theaters</i>
                    <input id="movie_name" type="text">
                    <label for="movie_name">Select Movie</label>
                </div>
            </div>
            <div class="col s3">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header blue-grey darken-1 white-text"><i class="material-icons">location_on</i>Filming Locations</div>
                        <div class="collapsible-body"><p id="location"></p></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-grey darken-1 white-text"><i class="material-icons">today</i>Year</div>
                        <div class="collapsible-body"><p id="year"></p></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-grey darken-1 white-text"><i class="material-icons">movie</i>Director</div>
                        <div class="collapsible-body"><p id="director"></p></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-grey darken-1 white-text"><i class="material-icons">videocam</i>Production Company</div>
                        <div class="collapsible-body"><p id="company"></p></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-grey darken-1 white-text"><i class="material-icons">assignment</i>Writers</div>
                        <div class="collapsible-body"><p id="writers"></p></div>
                    </li>
                    <li>
                        <div class="collapsible-header blue-grey darken-1 white-text"><i class="material-icons">grade</i>Actors</div>
                        <div class="collapsible-body"><p id="actors"></p></div>
                    </li>
                </ul>
            </div>
            <div class="col s9">
                <div id="map" style="width: 900px; height: 550px"></div>
            </div>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sfmovies.js' %}"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["map"]});
        var options = {
            showTip: true,
            mapType: 'normal',
            enableScrollWheel: true,
            useMapTypeControl: true,
        }
        google.setOnLoadCallback(function(){
            var initialLocations = [['Address'],['San Francisco, CA, US']];
            var data = google.visualization.arrayToDataTable(initialLocations);
            var map = new google.visualization.Map(document.getElementById('map'));
            options.zoomLevel = 12;
            map.draw(data, options);
            document.getElementById("movie_name").focus();
        });

    </script>
</body>
</html>
